.ant-btn {
	margin-right: 10px;
	&:focus {
		box-shadow: none;
		border-color: #ff6c36;
		color: #ff6c36;
	}
	&:hover {
		border-color: #ff6c36;
		color: #ff6c36;
	}
	&:active {
		border-color: #ff6c36;
		color: #ff6c36;
	}
}
